// Import Global
@import "./global";

// Import Borders Tiles
@import "./imports/border";

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
