// Import Global
@import "./global";

// Import Borders Tiles
@import "./imports/border";

// Import Strikes
@import "./imports/strike";

// Import Hover
@import "./imports/hover";

// Import Button Reset Game
@import "./imports/buttonReset";

// Imort Players
@import "./imports/players";

.containerTotal {
  margin-top: 14rem;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
  margin-top: 1.5rem;
}

.tile {
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__over {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__modal {
    width: 30%;
    padding: 3rem;
    background: #23272f;
    border-radius: 6px;
  }
}

.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #31363f;
  padding: 20px;
  border-radius: 8px;
}

.close {
  cursor: pointer;
  margin-bottom: 1.8rem;
  color: #f44336;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 4rem;
}

input {
  margin-top: 1rem;
}

button {
  margin-top: 0.8rem;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
